name: hackernews-daily

on:
  workflow_dispatch:
  schedule:
  - cron: "40 6 * 11-12,1-3 *"
  - cron: "40 5 * 4-10 *"

env:
 BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

jobs:
  fetch-top-posts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
    - name: npm install
      run: npm install --only=prod
      working-directory: .
    - name: fetch
      run: node index.js
      working-directory: .
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: commit
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "feed: update"
        git push

        
